<div layout="column" ng-cloak class="grupo-form" ng-init="vm.init()">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2>
                <span>Grupo</span>
            </h2>
        </div>
    </md-toolbar>
    <md-content layout="column" layout-padding>
        <div>
            <form name="form">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Nome</label>
                        <input name="grupo_nome" ng-model="vm.grupo.GRUPO_NOME" required>
                        <div ng-messages="form.grupo_nome.$error" multiple md-auto-hide="false">
                            <div ng-message="required">Campo obrigatório.</div>
                        </div>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-content>
    <md-actions layout="row" layout-xs="column">

        <md-button class="md-warn" ng-click="vm.removeById()" ng-if="vm.action === 'update'">
            <i class="fa fa-times" aria-hidden="true"></i> Remover
        </md-button>

        <span flex></span>

        <md-button ng-click="vm.cancel()">
            <i class="" aria-hidden="true"></i> Cancelar
        </md-button>

        <md-button class="md-raised md-primary" ng-click="vm.save()" ng-disabled="form.$invalid">
            <i class="fa fa-check" aria-hidden="true"></i> Salvar
        </md-button>
    </md-actions>
</div>