<md-content class="login" layout="row" layout-align="center center">
    <div>
        <form role="form" id="loginForm" name="loginForm" ng-submit="vm.login()">
            <div id="loginDiv">
                <div id="headerDiv">
                    <div>{{vm.formTitle}}</div>
                </div>
                <div class="animate-switch-container" ng-switch on="vm.selection">
                    <div ng-switch-when="default" class="animate-switch">
                        <fieldset>
                            <md-input-container class="md-block">
                                <label>Usuário</label>
                                <input id="username" name="username" type="text" class="form-control" ng-model="vm.username" required>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Senha</label>
                                <input id="password" name="password" type="password" class="senha form-control" ng-model="vm.password" required/>
                            </md-input-container>

                            <div id="loginControl" layout="row" layout-align="center center">
                                <md-button class="md-raised" type="submit" name="submit" value="Entrar" ng-disabled="loginForm.$invalid || vm.dataLoading">Entrar</md-button>
                            </div>
                        </fieldset>
                        <a ng-click="vm.showRecover()" class="recover-link" ng-show="!vm.dataLoading">Recuperar senha</a>
                    </div>
                    <div ng-switch-when="recover" class="animate-switch">
                        <fieldset>
                            <md-input-container class="md-block">
                                <input id="usernameRecover" name="usernameRecover" type="text" class="form-control" placeholder="Usuário" ng-model="vm.username" required/>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <input id="email" type="text" class="form-control" placeholder="E-mail" ng-model="vm.email" required/>
                            </md-input-container>
                            <div id="loginRecover" layout="row" layout-align="center center">
                                <div class="btn-group">
                                    <md-button class="btn btn-default" type="submit" name="submit" value="Confirmar" ng-disabled="loginForm.$invalid || vm.dataLoading" ng-click="vm.recover()">Confirmar</md-button>
                                </div>
                            </div>
                        </fieldset>
                        <a ng-click="vm.showLogin()" class="recover-link">Login</a>
                    </div>
                    <div ng-switch-when="redefine" class="animate-switch redefine">
                        <fieldset>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Senha atual</label>
                                <input id="passwordOld" name="passwordOld" ng-model="vm.passwordOld" required type="password">
                                <div ng-messages="loginForm.passwordOld.$error" multiple md-auto-hide="false">
                                    <div ng-message="confirm">Senha atual incorreta</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Nova Senha</label>
                                <input id="usu_senha" name="passwordNew" ng-model="vm.passwordNew" required type="password" minlength="8">
                                <div ng-messages="loginForm.passwordNew.$error" multiple md-auto-hide="false">
                                    <div ng-message="minlength">A senha deve ter no mínimo 8 caracteres</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Confirmar nova senha</label>
                                <input id="passwordNewConfirm" name="passwordNewConfirm" ng-model="vm.passwordNewConfirm" required type="password" compare-to="vm.passwordNew">
                                <div ng-messages="loginForm.passwordNewConfirm.$error" multiple md-auto-hide="false">
                                    <div ng-message="compareTo">Digite a mesma senha</div>
                                </div>
                            </md-input-container>
                            <div layout="row" layout-align="center center">
                                <div class="btn-group">
                                    <md-button class="btn btn-default" type="submit" name="submit" value="Salvar" ng-click="vm.redefine()">Salvar</md-button>
                                </div>
                            </div>
                        </fieldset>
                        <div>
                            <a ng-click="vm.showLogin()" class="recover-link">Cancelar</a>
                        </div>
                    </div>
                    <span class="login-message">{{vm.loginMessage}}</span>
                </div>
            </div>
        </form>
    </div>
</md-content>